# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.premake/**
projects/external/**
projects/projects/**
.vs/**
*.sln
*.vcxproj
projects/bin/**
projects/bin-int/**
external/bin/**
external/bin-int/**
external/obj/**
*.filters
/external/external/lua/luacore.vcxproj.user
/external/external/luasocket/luasocket.vcxproj.user
*.vcxproj
*.user